*.d
*.dot
*.e*
*.eps
*.h5
*.lock
*.log
*.mp4
*.o
*.o*
*.out
*.p
*.pdf
*.pickle
*.png
*.profile
*.ps
*.pyc
*.root
*.so
*.swp
*.table
*.tar
*.tar.gz
*.txt
*.xml
*setup.sh
*validate.txt
*~
.nfs*
.svn
HistFactorySchema.dtd
MC.txt
STDIN.*
build
clean.sh
datasets/lephad/tau_data.txt
dev_scripts
eventviews
externaltools*
grid-merge
grid-setup.sh
higgstautau/lephad/external
lhc*.phys.sfu.ca-*
ntuples
ntuples_hh
panda.cfg
plots
submitLarge.sh
submitProcessor.sh
submitSmall.sh
tmp
workspaces
workspaces_comparison
xsec_cache
