<!DOCTYPE Combination  SYSTEM 'HistFactorySchema.dtd'>

<Combination OutputFilePrefix="./results/mulh/{{ mass }}" >

    <Input>./config/mulh_channel_vbf_{{ mass }}.xml</Input>
    <Input>./config/mulh_channel_boosted_{{ mass }}.xml</Input>
    <Input>./config/mulh_channel_ggf_{{ mass }}.xml</Input>

    <Measurement Name="{{ workspace }}"
        Lumi="{{ lumi }}" LumiRelErr="{{ lumi_rel_err }}"
        ExportOnly="True">

        <POI>SigXsecOverSM</POI>
    </Measurement>
</Combination>
