<!DOCTYPE Combination  SYSTEM 'HistFactorySchema.dtd'>

<Combination OutputFilePrefix="./results/mulh/{{ category }}_{{ mass }}" >

    <Input>./config/mulh_channel_{{ category }}_{{ mass }}.xml</Input>

    <Measurement Name="{{ workspace }}"
        Lumi="{{ lumi }}" LumiRelErr="{{ lumi_rel_err }}"
        ExportOnly="True">

        <POI>SigXsecOverSM</POI>
    </Measurement>
</Combination>
